/* Color Theme Swatches in RGBA */
$background: #000000;
$main: #0c41dc;
$sidenav: lighten($main, 25%);
$modal: desaturate($main, 50%);
$disabled: desaturate($main, 80%);
$danger: #DB4621;
$affirm: #518F00;
$text: #efefef;

body {
	background: $background;
	color: $text;
}

.danger {
	background: $danger;
	color: $text;
}

.danger:hover, .danger:focus {
	background: lighten($danger, 5%);
	color: $text;
}

.danger.danger-confirm {
	background: $text;
	color: $danger;
}

.danger.danger-confirm:hover, .danger.danger-confirm:focus {
	background: darken($text, 5%);
}

.cancel {
	background: lighten($modal, 5%);;
	color: $text;
}

.cancel:hover, .cancel:focus {
	background: lighten($modal, 9%) !important;
	color: $text;
}

.affirm {
	background: $affirm;
	color: $text;
}

.affirm:hover, .affirm:focus {
	background: lighten($affirm, 5%);
	color: $text;
}

.sidenav {
	background: $sidenav;
	color: $text;

	button.danger-confirm {
		background: $text;

		i {
			color: $danger;
		}
	}

	.badge {
		color: $text;
		font-weight: bold;
	}
}

.modal {
	background: $modal;
	color: $text;

	input, textarea {
		color: $text;
		border: 1px solid $text !important;
		padding: 1rem !important;
	}

	span, label {
		padding: 1rem 0;
	}

	.modal-footer {
		background: $modal;
		border-top: 1px solid $disabled;
	}

	.danger {
		float: left;
	}

	.cancel {
		border: 1px solid $text;
		border-radius: 0.2rem;
	}
}

